:root{
    --color-secondary: #9B27C2;
    --color-secondary2: #79398F;
    --color-secondary3: #79398F;
    --color-text: #FBFBFB;
    --color-primary: #B600F5;
    --color-bg: #181a1f;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background: var(--color-bg);
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: none;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--color-text);
    border-radius: 15px;
}


footer{
    background: var(--color-secondary2);
    
}
.custom-shape-divider-bottom-1704973730 {
 
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1704973730 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 152px;
}

.custom-shape-divider-bottom-1704973730 .shape-fill {
    fill: var(--color-secondary2);
}