.card {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    cursor: pointer;
}

.info {
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.charimg {
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.504);
    margin: 10px;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .info,
    .charimg {
        width: 100%;
        height: 50%;
    }
}


.infocard {
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(220, 198, 198, 0.1);
    animation: txtright 1s  linear;/*only test animation*/
    background-color: rgba(255, 255, 255, 0.65);
}






@keyframes txtright {
    to {
      transform: translateX(0%);
    }
    from {
      transform: translateX(-100%);
    }
  }