.pixotitle {
    font-size: 100px;
    font-weight: 900;
    background: linear-gradient(to right, red, blue);
    text-align: center;
    padding-top: 180px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Oswald', sans-serif;
}

.farewelltext {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, blue, red);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

@media screen and (max-width: 768px) {
    .pixotitle {
        font-size: 60px;
        padding-top: 100px;
    }
    .farewelltext {
        font-size: 50px;
    }
}

@media screen and (max-width: 480px) {
    .pixotitle {
        align-self: center;
        font-size: 40px;
        padding-top: 150px;
    }
    .farewelltext {
        font-size: 30px;
    }
}

.main {

    background-image: black;
    background-size: cover;
    background-position: top;
}



/* Popup box BEGIN */
.popupheader{
    height: 20%;

}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 10000000;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
    height: 70%;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    height: 80%;
    overflow: auto;
    color: var(--text-color);
    display: flex;
    align-items: end;
    padding-bottom: 10px;
    
}

.popup .content h1 {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: bolder;
    
}
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}
#themepopup{
    background: url("../assets/ai/background.jpeg");
}
#pixoinfopopup{
    background: url("../assets/ai/img1.jpeg");
}
