.pixotitle {
    font-size: 100px;
    font-weight: 900;
    background: linear-gradient(to right, red, blue);
    text-align: center;
    margin-top: 180px;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 60px rgba(255, 0, 0, 0.45);
    animation: anime 2s infinite alternate;
}

.farewelltext {
    font-size: 50px;
    font-weight: 900;
    background: linear-gradient(to right, red, blue);
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 60px rgba(255, 0, 0, 0.45);
    animation: anime 2s infinite alternate;
}

@keyframes anime {
    100% {
        text-shadow: 0 0 60px rgba(76, 0, 255, 0.45);
    }
}

@media screen and (max-width: 768px) {
    .pixotitle {
        font-size: 60px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 480px) {
    .pixotitle {

        align-self: center;
        font-size: 40px;
        padding-top: 150px;
    }

}
.btnmain{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    

}

.bn5 {
 
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.bn5:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowingbn5 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.bn5:active {
    color: #000;
}

.bn5:active:after {
    background: transparent;
}

.bn5:hover:before {
    opacity: 1;
}

.bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #191919;
    left: 0;
    top: 0;
    border-radius: 10px;
}