/* Messages Section Styles */
.video-section {
    background-image: url('../assets/ai/mesback.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgbox{
    height: 100vh;
    padding: 6px;
    overflow: hidden;
}
.imgelement{
    border-radius: 0px;
    height: 100%;
    animation: trans 20s normal forwards ease-in-out;
    animation-iteration-count: infinite; 
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .imgelement{
        height: 35vh;

    }
    .imgbox{
        height: 35vh;
        padding: 10px;
    }
    
}
@keyframes trans {
    0%{
        background: url('../assets/ai/img1.jpeg');
        background-size: cover;
        background-position: center;
    }
    10%{
        background: url('../assets/ai/img2.jpeg');
        background-size: cover;
        background-position: center;
    }
    20%{
        background: url('../assets/ai/img3.jpeg');
        background-size: cover;
        background-position: center;
    }
    30%{
        background: url('../assets/ai/img4.jpeg');
        background-size: cover;
        background-position: center;
    }
    40%{
        background: url('../assets/ai/img5.jpeg');
        background-size: cover;
        background-position: center;
    }
    50%{
        background: url('../assets/ai/img6.jpeg');
        background-size: cover;
        background-position: center;
    }
    60%{
        background: url('../assets/ai/img1.jpeg');
        background-size: cover;
        background-position: center;
    }
    70%{
        background: url('../assets/ai/img2.jpeg');
        background-size: cover;
        background-position: center;
    }
    80%{
        background: url('../assets/ai/img3.jpeg');
        background-size: cover;
        background-position: center;
    }
    90%{
        background: url('../assets/ai/img4.jpeg');
        background-size: cover;
        background-position: center;
    }

    100%{
        background: url('../assets/ai/img5.jpeg');
        background-size: cover;
        background-position: center;
    }
}
.arrow{
    border: 2px solid #fff;
    border-radius: 5px;
    width: min-content;
    padding: 7px;
    background-color: black;
    position: fixed;
    right: 5px;
    bottom: 10px;
    z-index: 100;
}
.video-section{
    height: 100vh;
}
@media screen and (max-width: 768px) {
    .video-section{
        height: 35vh;
    }
    
}