/* Messages Section Styles */
.messages-section {
    background-image: url('../assets/ai/mesback.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;


}


.message {
    background-color: rgba(26, 24, 24, 0.8);
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
}